// COLORS

// #408af1

:root {
  --color-primary: #408af1;

  --color-dark-blue: #14213d;

  --color-black: #14213d;
  --color-grey: #464343;

  --color-light-grey: #f6f2ee;

  --shadow-dark: 0rem 0.6rem 1rem rgba(0, 0, 0, 0.4);

  --main-color-primary: #5bc4bd;
  --main-color-secondary: #0c343d;
  --main-color-ternary: #ffffff;
  --main-color-quaternary: #ffffff;
  --main-color-quinary: #5bc4bd;
  --main-color-senary: #ffffff;
  --main-color-septenary: #0c343d;
  --header-color: #eaedf4;

  // SECONDARY COLORS

  --fui-font-size: 16px;
  --fui-color: #374151;
  --fui-primary-color: #516fea;
  --fui-primary-color-hover: #2349e5;
  --fui-error: #f56565;
  --fui-gray-100: #f3f4f6;
  --fui-gray-200: #e5e7eb;
  --fui-gray-300: #d1d5db;
  --fui-gray-400: #9ca3af;
  --fui-gray-500: #6b7280;
  --fui-gray-600: #4b5563;
  --fui-gray-700: #374151;
  --fui-gray-800: #1f2937;
  --fui-gray-900: #111827;
  --fui-border: 0 solid #d1d5db;
  --fui-border-radius: 0.25rem;
  --fui-border-color: #d1d5db;
  --fui-focus-border-color: #a4cafe;
  --fui-focus-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
}
